In [17]:
base = 'https://www.thehindu.com/news/'
regions = ['national','international']
states = ['andhra-pradesh', 'karnataka', 'kerala', 'tamil-nadu', 'telangana', 'other-states']
cities = ['bangalore', 'chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Kochi', 'kolkata']
pages = range(0,14)
start_urls = [base+region+'/?page='+str(p)  for region in regions for p in pages]
start_urls.extend([base+'/national/'+state+'/?page='+str(p)  for state in states for p in pages])
start_urls.extend([base+'/cities/'+city+'/?page='+str(p)  for city in cities for p in pages])
#start_urls

In [18]:
reg = [url.split('/')[-2] for url in start_urls]
#reg

In [19]:
cities = ['bangalore', 'chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Kochi', 'kolkata']
#[base+'/cities/'+city+'/?page='+str(p)  for city in cities for p in pages]

In [20]:
url.split('/')[-2]

'national'

In [21]:
import pandas as pd
articles_df = pd.read_json('dump1208.json')
articles_df.head()

,extractedDate,headline,link,page,region,source
0,2020-08-12,\n Ramvilas Paswan asks States to do doorstep ...,https://www.thehindu.com/news/national/ramvila...,0,national,TheHindu
1,2020-08-12,\n Ramvilas Paswan asks States to do doorstep ...,https://www.thehindu.com/news/national/ramvila...,8,national,TheHindu
2,2020-08-12,\n Rationalisation: Textile Ministry to close ...,https://www.thehindu.com/news/national/rationa...,0,national,TheHindu
3,2020-08-12,\nCoronavirus | Expert panel to discuss issues...,https://www.thehindu.com/news/national/coronav...,0,national,TheHindu
4,2020-08-12,\nDGCA suspends wide-body flights for Calicut ...,https://www.thehindu.com/news/national/dgca-su...,0,national,TheHindu

In [33]:
articles_df.region.unique()

array(['national', 'international', 'andhra-pradesh', 'karnataka',
       'kerala', 'tamil-nadu', 'telangana', 'other-states', 'bangalore',
       'chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Kochi', 'kolkata'],
      dtype=object)

In [35]:
df = pd.read_json (r'articledump1208.json')
df.to_csv (r'articledump1208.csv', index = None)

In [45]:
h_df = pd.read_json('../webscrapy/dump1308hash.json')

In [53]:
h_df.hash.unique().size

9132

In [54]:
h_df.link.unique().size

9132

In [56]:
ah_df = pd.read_json('../webscrapy/articledump1308hash.json')

In [57]:
ah_df.hash.unique().size

9021

In [59]:
ah_df.url.unique().size

9133