In [17]:
base = 'https://www.thehindu.com/news/'
regions = ['national','international']
states = ['andhra-pradesh', 'karnataka', 'kerala', 'tamil-nadu', 'telangana', 'other-states']
cities = ['bangalore', 'chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Kochi', 'kolkata']
pages = range(0,14)
start_urls = [base+region+'/?page='+str(p)  for region in regions for p in pages]
start_urls.extend([base+'/national/'+state+'/?page='+str(p)  for state in states for p in pages])
start_urls.extend([base+'/cities/'+city+'/?page='+str(p)  for city in cities for p in pages])
#start_urls

In [18]:
reg = [url.split('/')[-2] for url in start_urls]
#reg

In [19]:
cities = ['bangalore', 'chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Kochi', 'kolkata']
#[base+'/cities/'+city+'/?page='+str(p)  for city in cities for p in pages]

In [20]:
url.split('/')[-2]

'national'

In [21]:
import pandas as pd
articles_df = pd.read_json('dump1208.json')
articles_df.head()

,extractedDate,headline,link,page,region,source
0,2020-08-12,\n Ramvilas Paswan asks States to do doorstep ...,https://www.thehindu.com/news/national/ramvila...,0,national,TheHindu
1,2020-08-12,\n Ramvilas Paswan asks States to do doorstep ...,https://www.thehindu.com/news/national/ramvila...,8,national,TheHindu
2,2020-08-12,\n Rationalisation: Textile Ministry to close ...,https://www.thehindu.com/news/national/rationa...,0,national,TheHindu
3,2020-08-12,\nCoronavirus | Expert panel to discuss issues...,https://www.thehindu.com/news/national/coronav...,0,national,TheHindu
4,2020-08-12,\nDGCA suspends wide-body flights for Calicut ...,https://www.thehindu.com/news/national/dgca-su...,0,national,TheHindu

In [33]:
articles_df.region.unique()

array(['national', 'international', 'andhra-pradesh', 'karnataka',
       'kerala', 'tamil-nadu', 'telangana', 'other-states', 'bangalore',
       'chennai', 'Coimbatore', 'Delhi', 'Hyderabad', 'Kochi', 'kolkata'],
      dtype=object)

In [35]:
df = pd.read_json (r'articledump1208.json')
df.to_csv (r'articledump1208.csv', index = None)

In [45]:
h_df = pd.read_json('../webscrapy/dump1308hash.json')

In [53]:
h_df.hash.unique().size

9132

In [54]:
h_df.link.unique().size

9132

In [56]:
ah_df = pd.read_json('../webscrapy/articledump1308hash.json')

In [57]:
ah_df.hash.unique().size

9021

In [59]:
ah_df.url.unique().size

9133

In [69]:
ah_df[ah_df.hash.duplicated()].hash.unique()

array([                   0,  -877289403012855675, -1119634344865167393,
       -5718921275730345121,   569058541932962377, -9043353124785617703,
       -4373650432064648445,  9092299801382120374,  3678372537868193953,
        5587036843755206405, -8271094586872838543])

In [76]:
texts = ah_df[ah_df.hash==0].text

In [77]:
_hash = [hash(text) for text in texts]
_hash

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [88]:
_t = ah_df[ah_df.hash==-1119634344865167393].text
_u = ah_df[ah_df.hash==-1119634344865167393].url

In [89]:
_t

889    Congressional lawmakers finally got a chance t...
897    Congressional lawmakers finally got a chance t...
Name: text, dtype: object

In [90]:
print(_u)

889    https://www.thehindu.com/news/international/4-...
897    https://www.thehindu.com/news/international/4-...
Name: url, dtype: object

In [91]:
ah_df[ah_df.hash==-877289403012855675].title

859    James Murdoch resigns from News Corp board ove...
866    James Murdoch resigns from News Corp board ove...
Name: title, dtype: object

In [92]:
ah_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9137 entries, 0 to 9136
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publishdate   9137 non-null   object
 1   createddate   9137 non-null   object
 2   modifieddate  9137 non-null   object
 3   section       9137 non-null   object
 4   author        9137 non-null   object
 5   tags          9137 non-null   object
 6   title         9137 non-null   object
 7   description   9137 non-null   object
 8   text          9137 non-null   object
 9   url           9137 non-null   object
 10  hash          9137 non-null   int64
dtypes: int64(1), object(10)
memory usage: 785.3+ KB

In [93]:
# Default Dict

In [94]:
from collections import defaultdict 
  
  
# Defining a dict 
d = defaultdict(list) 
  
for i in range(5): 
    d[i].append(i) 
      
print("Dictionary with values as list:") 
print(d)

Dictionary with values as list:
defaultdict(<class 'list'>, {0: [0], 1: [1], 2: [2], 3: [3], 4: [4]})

In [95]:
for i in range(10):
    d[i].append(i)

In [96]:
d

defaultdict(list,
            {0: [0, 0],
             1: [1, 1],
             2: [2, 2],
             3: [3, 3],
             4: [4, 4],
             5: [5],
             6: [6],
             7: [7],
             8: [8],
             9: [9]})