In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/births.csv")
df.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [2]:
df.isnull().sum()

year        0
month       0
day       480
gender      0
births      0
dtype: int64

In [7]:
df.dtypes

year        int64
month       int64
day       float64
gender     object
births      int64
dtype: object

In [11]:
df[df.dtypes['day'] == 'float64' & df.dtypes['gender']=='object']

TypeError: unsupported operand type(s) for &: 'str' and 'numpy.dtype'

In [19]:
df[df.dtypes['day'] == 'dtype(\'float64\')']

TypeError: data type "dtype('float64')" not understood

In [18]:
df.dtypes['day']

dtype('float64')